.close-sideMenu-button{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    color:#ccc;
    cursor: pointer;
}
.brand{
    cursor: pointer;
}
.p-relative{
    position: relative;
}
#sidebar {
    overflow-x: hidden;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 25%;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}
@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}
#sidebar .list-group {
    min-width: 100px;
    background-color: #333;
    min-height: 100vh;
}
#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
    cursor: pointer;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: hidden;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }
    
    #sidebar.show {
        transform: translateX(0);
    }

    #sidebar::-webkit-scrollbar{ width: 0px; }
    
    #sidebar, #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


/* scroll bar style */
#sidebar::-webkit-scrollbar {
  width: 4px;
  background-color:#fff
}
#sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(34 34 34);
}
#sidebar::-webkit-scrollbar-thumb {
  background-color: #577bda;
  outline: 1px solid #708090;
}
/* scrollbar style */
.sidebarHeader {
  padding: 13px;
  color: var(--primary-color);
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-container{
  font-size: 20px;
  cursor: pointer;
}
.nav-link{
  cursor: pointer;
}
.backButton{
  cursor: pointer;
}
.FontAwesomeIcon{
  margin: 0 5px;
}
.sidebarWidth{
  width: 337px;
}
.item-icon{
  width: 20px;
  height: 20px;
  margin: 0 5px;
}